* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /*outline: 2px solid white;*/
}

.header {
    background-color: #1F2937;
    color: white;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    padding: 50px 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #1F2937;
    gap: 20px 0;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background-color: #1F2937;
    text-align: left;
    color:#F9FAF8;
    align-items: center;
}

.content-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

p, h3 {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

li {
    font-size:14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.button a {
    background-color: #3882F6;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.card {
    width: 200px;
    text-align: center;
    padding: 20px 0;
}

.box {
    border: 2px solid #3882F6;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    height: 200px;
}

.header-text {
    color: #F9FAF8;
    font-size: 24px;
}

.nav, a {
    color: #F9FAF8;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}

.footer {
    background-color: #1F2937;
    padding: 20px;
    text-align: center;
    color:#F9FAF8
}